.admin
{
    position: relative;
    padding: 0px 100px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding-left: 30%;
    margin-top: 9%;
}

body{
    background-image: url("../bg-home.webp");
}
input.formlabel{
    color: black;
}

#signUp{
    color: black;
    border-color: black;
}